* {
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    margin: 0 auto;
    width: 98%;
    max-width: 1150px;
    margin-top: 20px;
  }

  body {
    background-color:gray;
  }
  