.row {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}

.col {
    width: 25%;
    text-align: center;
    padding: 15px;
}

.col-heading {
    font-size: 24px;
    font-weight: 300;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: solid 1px black;
}
