@import 'mediumscreen.css';

.title {
    font-size: 60px;
}

/* for really small screens (like iphone SE) */
@media only screen and (max-width: 450px) {

    body {
        margin: auto;
    }

    .container {
        width: 100%;
        margin-top: 0px;
    }

    .title {
        font-size: 35px;
    }

    .subtitle {
        font-size: 20px;
    }
}