@import 'nav.css';

.subtitle {
    margin-bottom: 15px;
} 

.small-nav {
    width: 25%;
    position: relative;
    margin-top: 10px;
}

.nav-links .nav-item {
    display: flex;
    flex-direction: column;

}

.row {
    padding-top: 0px;
}
