* {
    font-family: Roboto, Arial, sans-serif;
  }
  
  .bg {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .fg {
    background-color: white;
    align-self: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }