.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    font-weight: 400;
    margin-bottom: -10px;
}

.subtitle {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}